<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <style>
        .chart-container {
            width: 80%;
            margin: auto;
            margin-bottom: 50px;
        }
    </style>
</head>
<body>
    <h1 class="text-center">Dashboard</h1>

    <!-- Profit & Loss Pie Chart -->
    <div class="chart-container">
        <canvas id="liabilitiesChart"></canvas>
    </div>

    <!-- Profit & Loss Pie Chart -->
    <div class="chart-container">
        <canvas id="profitLossChart"></canvas>
    </div>

    <!-- Monthly Trades Line Chart -->
    <div class="chart-container">
        <canvas id="monthlyTradesChart"></canvas>
    </div>

    <!-- Yearly Trades Bar Chart -->
    <div class="chart-container">
        <canvas id="yearlyTradesChart"></canvas>
    </div>

    <!-- Yearly Expenses Bar Chart -->
    <div class="chart-container">
        <canvas id="expensesChart"></canvas>
    </div>

    <!-- Monthly Expenses Bar Chart -->
    <div class="chart-container">
        <canvas id="monthlyExpensesChart"></canvas>
    </div>

    <script>
        // Extracted data passed from the server
        const results = <%- JSON.stringify(results) %>;

        // Liabilities Bar Chart
        const liabilitiesCtx = document.getElementById('liabilitiesChart').getContext('2d');
        new Chart(liabilitiesCtx, {
            type: 'bar',
            data: {
                labels: results.liabilities.map(item => item.AcctName),
                datasets: [{
                    label: 'Liabilities',
                    data: results.liabilities.map(item => item.AmtBal),
                    backgroundColor: 'rgba(153, 102, 255, 0.6)',
                    borderColor: 'rgba(153, 102, 255, 1)',
                    borderWidth: 2,
                    fill: false
                }]
            },
            options: {
                responsive: true,
                scales: {
                    x: { title: { display: true, text: 'Year' } },
                    y: { title: { display: true, text: 'Profit' } }
                }
            }
        });

        // Profit & Loss Bar Chart
        const profitLossCtx = document.getElementById('profitLossChart').getContext('2d');
        new Chart(profitLossCtx, {
            type: 'bar',
            data: {
                labels: results.profitLoss.map(item => item.Trade_Year),
                datasets: [
                    {
                        label: 'Yearly Profit',
                        data: results.profitLoss.map(item => item.Profit),
                        backgroundColor: 'rgba(153, 102, 255, 0.6)',
                        borderColor: 'rgba(153, 102, 255, 1)',
                        borderWidth: 1
                    },
                    {
                        label: 'Yearly Loss',
                        data: results.profitLoss.map(item => item.Loss), // Y-axis data
                        backgroundColor: 'rgba(255, 99, 132, 0.6)', // Red color for Loss
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 1
                    }
                ]
            },
            options: {
            responsive: true,
            scales: {
                x: {
                    title: { display: true, text: 'Year' }
                    },
                y: {
                    title: { display: true, text: 'Amount' },
                    beginAtZero: true // Ensure the Y-axis starts at 0
                    }
                }
            }

        });

        // Monthly Trades Line Chart
        const monthlyTradesCtx = document.getElementById('monthlyTradesChart').getContext('2d');
        new Chart(monthlyTradesCtx, {
            type: 'bar',
            data: {
                labels: results.monthlyTrades.map(item => item.Trade_Year),
                datasets: [{
                    label: 'Monthly Profit',
                    data: results.monthlyTrades.map(item => item.profit),
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 2,
                    fill: false
                }]
            },
            options: {
                responsive: true,
                scales: {
                    x: { title: { display: true, text: 'Year' } },
                    y: { title: { display: true, text: 'Profit' } }
                }
            }
        });

        // Yearly Trades Bar Chart
        const yearlyTradesCtx = document.getElementById('yearlyTradesChart').getContext('2d');
        new Chart(yearlyTradesCtx, {
            type: 'bar',
            data: {
                labels: results.yearlyTrades.map(item => item.Trade_Year),
                datasets: [
                    {
                        label: 'Yearly Profit',
                        data: results.yearlyTrades.map(item => item.profit),
                        backgroundColor: 'rgba(153, 102, 255, 0.6)',
                        borderColor: 'rgba(153, 102, 255, 1)',
                        borderWidth: 1
                    },
                    {
                        label: 'Yearly Deposit',
                        data: results.yearlyTrades.map(item => item.sDepositWithdrawal), // Y-axis data
                        backgroundColor: 'rgba(255, 99, 132, 0.6)', // Red color for Loss
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 1
                    }
                ]
            },
            options: {
            responsive: true,
            scales: {
                x: {
                    title: { display: true, text: 'Year' }
                    },
                y: {
                    title: { display: true, text: 'Amount' },
                    beginAtZero: true // Ensure the Y-axis starts at 0
                    }
                }
            }
        });

        // Expenses Bar Chart
        const expensesCtx = document.getElementById('expensesChart').getContext('2d');
        new Chart(expensesCtx, {
            type: 'bar',
            data: {
                labels: results.expenses.map(item => item.AccountName),
                datasets: [{
                    label: 'Expenses',
                    data: results.expenses.map(item => item.amt_spent),
                    backgroundColor: 'rgba(255, 99, 132, 0.6)', // Red color for Loss
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 2,
                    fill: false
                }]
            },
            options: {
                responsive: true,
                scales: {
                    x: { title: { display: true, text: 'Year' } },
                    y: { title: { display: true, text: 'Profit' } }
                }
            }
        });

        // Monthly Expenses Bar Chart
        const monthlyExpensesCtx = document.getElementById('monthlyExpensesChart').getContext('2d');
        new Chart(monthlyExpensesCtx, {
            type: 'bar',
            data: {
                labels: results.monthlyExpenses.map(item => item.Expense_Year),
                datasets: [{
                    label: 'Monthly Expenses',
                    data: results.monthlyExpenses.map(item => item.Expenses),
                    backgroundColor: 'rgba(153, 102, 255, 0.6)',
                    borderColor: 'rgba(153, 102, 255, 1)',
                    borderWidth: 2,
                    fill: false
                }]
            },
            options: {
                responsive: true,
                scales: {
                    x: { title: { display: true, text: 'Year' } },
                    y: { title: { display: true, text: 'Profit' } }
                }
            }
        });
    </script>
</body>
</html>
