<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>So you wish to edit your information</h1>

    <form method="post" action="/user?_method=PATCH">
        <p>Enter the subject : <input type="text" name="subject" placeholder="subject" ></p>
        
        <p>Enter the start : <input type="text" name="start" placeholder="start" ></p>
        
        <p>Enter your location :  <input type="text" name="location" placeholder="location" ></p>
       
        <p>Enter your notes : <input type="text" name="notes" placeholder="notes" ></p>      

        <button type="submit">Submit</button>
        
    </form>
</body>
</html>