<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="/style.css">    
    
</head>
<body>
    <!-- Header Section -->
    <div class="container mt-3">
        <div class="d-flex justify-content-between align-items-center">
            <h1>Welcome back, <%= username %>!</h1>
            <!-- Logout Button -->
            <form method="get" action="/logout">
                <button type="submit" class="btn btn-outline-danger">Log Out</button>
            </form>
        </div>
    </div>

    <!-- Edit Tables Section -->
    <div class="container mt-4">
        <h2 style="color: #00695C;">Edit Tables</h2>
        <div class="buttons">
            <form method="get" action="/trade"><button type="submit" class="btn btn-outline-success w-100">Trade</button></form>
            <form method="get" action="/finance"><button type="submit" class="btn btn-outline-success w-100">Finance</button></form>
            <form method="get" action="/calendar"><button type="submit" class="btn btn-outline-success w-100">Calendar</button></form>
            <form method="get" action="/password"><button type="submit" class="btn btn-outline-success w-100">Password</button></form>
            <form method="get" action="/document"><button type="submit" class="btn btn-outline-success w-100">Document</button></form>
        </div>
    </div>    

    <!-- View Tables Section -->
    <div class="container mt-4">
        <h2 style="color: #9575CD;">View Tables</h2>
        <div class="buttons">
            <form method="get" action="/user/calendar"><button type="submit" class="btn btn-outline-success w-100">Calendar</button></form>
            <form method="get" action="/user/expenses"><button type="submit" class="btn btn-outline-success w-100">Expenses</button></form>
            <form method="get" action="/user/all_trades"><button type="submit" class="btn btn-outline-success w-100">All Trades</button></form>
            <form method="get" action="/user/daily_consolidated"><button type="submit" class="btn btn-outline-success w-100">Daily Trades</button></form>
            <form method="get" action="/user/demat"><button type="submit" class="btn btn-outline-success w-100">Demat</button></form>
            <form method="get" action="/user/mly_trades"><button type="submit" class="btn btn-outline-success w-100">Monthly Trades</button></form>
            <form method="get" action="/user/yearly_trades"><button type="submit" class="btn btn-outline-success w-100">Yearly Trades</button></form>
            <form method="get" action="/user/profit_loss"><button type="submit" class="btn btn-outline-success w-100">Profit Loss</button></form>
            <form method="get" action="/user/liabilities"><button type="submit" class="btn btn-outline-success w-100">Liabilities</button></form>
            <form method="get" action="/user/passwords"><button type="submit" class="btn btn-outline-success w-100">Passwords</button></form>
            <form method="get" action="/user/day_trade"><button type="submit" class="btn btn-outline-success w-100">Day Trades</button></form>
            <form method="get" action="/user/month_trade"><button type="submit" class="btn btn-outline-success w-100">Month Trades</button></form>
            <form method="get" action="/user/year_trade"><button type="submit" class="btn btn-outline-success w-100">Year Trades</button></form>            
        </div>
    </div>
    
    <!-- Dashboard Section -->
    <div class="container mt-4">
        <h2 style="color: #a706f1;">Dashboards</h2>
        <div class="buttons">            
            <form method="get" action="/dashboard"><button type="submit" class="btn btn-outline-success w-100">Dashboard</button></form>
            <form method="get" action="/budget"><button type="submit" class="btn btn-outline-success w-100">Budget</button></form>
            <form method="get" action="/dynamic_pie_expense"><button type="submit" class="btn btn-outline-success w-100">Pie Expense</button></form>
            <form method="get" action="/dynamic_bar_expense"><button type="submit" class="btn btn-outline-success w-100">Bar Expense</button></form>
            <form method="get" action="/dynamic_bar_trade"><button type="submit" class="btn btn-outline-success w-100">Bar Trade</button></form>
            <form method="get" action="/dynamic_bar_finance"><button type="submit" class="btn btn-outline-success w-100">Bar Finance</button></form>
            <form method="get" action="/dynamic_bar_category"><button type="submit" class="btn btn-outline-success w-100">Expense Category</button></form>
            <form method="get" action="/dynamic_bar_scripName"><button type="submit" class="btn btn-outline-success w-100">Filter ScripName</button></form>
        </div>
    </div>    

</body>
</html>
